<footer
    class="bg-white w-1/2 md:w-[80%] mx-auto rounded-t-md text-dark flex justify-between items-center flex-row gap-y-2 p-20 relative mt-10 xl:flex-col xl:text-center xl:gap-y-10 sm:px-5 sm:py-10">
    <div class="flex flex-col gap-y-3 text-[14px]">
        <h1 class="text-2xl font-semibold mb-1">About project</h1>
        <span class="cursor-pointer">Home</span>
        <span class="cursor-pointer">Get in touch</span>
        <span class="cursor-pointer">FAQs</span>
    </div>
    <div class="flex flex-col gap-y-3 text-[14px]">
        <h1 class="text-2xl font-semibold mb-1">Products</h1>
        <span class="cursor-pointer">Testimonials</span>
        <span class="cursor-pointer">How it works</span>
        <span class="cursor-pointer">Member discounts</span>
    </div>
    <div class="flex justify-center items-center flex-col">
        <h1 class="text-2xl font-semibold mb-1">Check me on</h1>
        <div>
            <a href="https://linkedin.com/in/sabapangani/" target="_blank"><i class="bi bi-github text-2xl"></i></a>
            <a href="https://github.com/SabaPangani" target="_blank"><i class="bi bi-linkedin text-2xl ml-2"></i></a>
        </div>
    </div>
</footer>