<!-- <div class="w-1/2 mx-auto flex flex-col gap-y-5 bg-gray-100 py-3 mt-5 rounded-md">
    <div *ngIf="users.length > 0" class="flex flex-col">
        <div class="flex justify-between py-3 px-16 bg-white rounded-md">
            <span class="font-medium text-center w-full">სრული სახელი</span>
            <span class="font-medium text-center w-full">ტელეფონის ნომერი</span>
            <span class="font-medium text-center w-full">მეილი</span>
            <span class="font-medium text-center w-full">კომპანიის სახელი</span>
        </div>
        <ul *ngIf="users.length > 0" class="w-full flex flex-col gap-y-5 mt-5 bg-white pt-5 rounded-md">
            <li class="w-full flex justify-between border-b px-10 pb-4 border-b-violet-100 relative"
                *ngFor="let user of users">
                <span class="px-5 text-center w-full">{{user.name}}</span>
                <span class="px-5 text-center w-full">{{user.phone}}</span>
                <span class="px-5 text-center w-full">{{user.email}}</span>
                <span class="px-5 text-center w-full">{{user.company.name}}</span>
                <span
                    class="absolute right-0 top-1/2 rounded-md -translate-y-[65%] bg-purple text-white py-2 px-3 hover:bg-purple-hover hover:top-[55%] transition-all cursor-pointer">პოსტები</span>
            </li>
        </ul>
    </div>

    <div class="flex justify-between py-3 px-16 bg-white rounded-md">
        <span class="font-medium text-center w-full">სათაური</span>
        <span class="font-medium text-center w-full">მომხმარებლის სახელი</span>
    </div>
    <ul class="w-full flex flex-col gap-y-5 bg-white mt-5 rounded-md pt-5">
        <li class="w-full flex justify-between border-b px-10 pb-4 border-b-violet-100 relative"
            *ngFor="let post of posts">
            <span class="px-5 text-center w-full">{{post.title}}</span>
            <span class="px-5 text-center w-full">{{getUsername(post.userId)}}</span>
        </li>
    </ul>
</div> -->